@charset "EUC-KR";


.slide{
  width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.slide ul{
  list-style: none;
  position: absolute;
  margin: 0px;
  padding: 0;
}



.slide ul li{
  float: left;
  width: 500px;
  min-height: 300px;
  margin: 0;
  padding: 0;
}


.slide button.prev{

  position: absolute;
  left: 0;
  top: 120px;
}

.slide button.next{
  position: absolute;
  right: 0;
  top: 120px;
}

.adminBtn {
	padding-top: 10px;
	padding-bottom: 0px;
}

.listBtn{
	padding-top: 10px;
	padding-bottom: 0px;
}

.bigArea:hover {
	border: none;
	color: tomato;
}

.areaName:hover{
	border: none;
	color: tomato;
}

.views-menu button{
	border: none;
	background: white;
	cursor: pointer;
	font-size: 18px;
}